<%- include ("./partials/navbar")%>
<styles>
</styles>
<h1>Thanks for using this app</h1>
<p>This app utilizes the official Co-Win APIs</p>
<p>For FAQs, please visit the FAQ's page</p>


<footer>
    <p>Developed by Kshitiz Vikram Singh</p>
</footer>