<%-include("./partials/navbar")%>
<h1> Genaral FAQs related to the website</h1>
<h2><b>Q1-Is the data shown reliable?</b></h2>
    <h3>The data is coming straight through the official Covid APIs released by the Government of India, and does not utilize any 3rd party APIs for data collection.</h3>
    <hr>
<h2><b>Q2- Is the data always real-time?</b></h2>
    <h3>The data is fetched real-time everytime you click on "Search" button but there is a caviot-</h3>
    <h3> The appointment availability data is cached and may be upto 30 minutes old. Further, these APIs are subject to a rate limit of 100 API calls per 5 minutes per IP. For further questions, please visit <a href="https://github.com/cowinapi/developer.cowin/issues">Link!</a></h3>
    <hr>
<h2><b>Q3-No data showing up for my PIN,why?</b></h2>
    <h3>If this is the case then it means there is no real-time data available for that PIN currently, you can always try after sometime to try your luck!</h3>
    <hr>
<h2><b>Q4-Do I need to refresh the page everytime I want to search again?</b></h2>
    <h3>No, the page always fetches real-time data whenever you click on "Search" button. No need to refresh the page everytime!</h3>
    <hr>
<h2 id="warning"><b> Runs best on Google Chrome, Microsoft Edge(Chromium version) and Mozilla Firefox! Does not support Internet Explorer.</b></h2>